<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Striped Progress bar 1</h4>
                <div class="progress m-t-20">
                    <div class="progress-bar bg-primary progress-bar-striped active" aria-valuenow="85"
                        aria-valuemin="0" aria-valuemax="100" style="height:10px;" [style.width]="getProgreso1"
                        role="progressbar">
                    </div>
                </div>
                <h4 class="card-title">Striped Progress bar 2</h4>
                <div class="progress m-t-20">
                    <div class="progress-bar bg-info progress-bar-striped active" aria-valuenow="85" aria-valuemin="0"
                        aria-valuemax="100" style="height:10px;" [style.width]="getProgreso2" role="progressbar">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador (newItemEvent)="setProgreso1($event)" [progreso]="progreso1" ></app-incrementador>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador (newItemEvent)="setProgreso2($event)" [progreso]="progreso2" ></app-incrementador>
            </div>
        </div>
    </div>

</div>