<div class="row">

    <div class="col-md-6">
        <div class="card card-body">
            <h4 class="card-title">Formulario de modificación de médico</h4>
            <h6 class="card-subtitle">Información del médico</h6>

            <form
            class="form p-t-20"
            id="modifyformUserInfo"
            [formGroup]="medicoForm"
            (ngSubmit)="medicoFormSubmit()">
                <div class="form-group text-center">
                    <img *ngIf="medicoSeleccionado" [src]="medicoSeleccionado.img | cloudinaryimagenurl:'medicos'" [alt]="medicoSeleccionado.nombre" (click)="abrirModalImagen()"
                    class="animated fadeIn fast">
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre<span class="help"> e.g. "Dr Obsesión"</span></label>
                    <input
                        id="nombre"
                        type="text"
                        class="form-control"
                        formControlName="nombre">
                </div>
                <div class="form-group">
                    <label for="hospital">Hospital</label>
                    <!-- (change)="cambiarImagenHospit al($event.target.value)" -->
                    <select
                        id="hospital"
                        class="form-control"
                        formControlName="hospital">
                        <option value="">Seleccione hospital</option>
                        <option *ngFor="let hospital of hospitales" [value]="hospital._id">{{hospital.nombre}}</option>
                    </select>
                </div>
                <button [disabled]="medicoForm.invalid" type="submit" class="btn btn-success btn-block waves-effect waves-light m-r-10">
                    <i class="fa fa-save"></i> Guardar cambios
                </button>
            </form>
        </div>
    </div>

    <div *ngIf="hospitalSeleccionado" class="col-md-6 animated fadeIn fast">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Hospital</h4>
                <h6 class="card-subtitle">{{hospitalSeleccionado.nombre}}</h6>
                <div class="text-center">
                    <img [src]="hospitalSeleccionado.img | cloudinaryimagenurl:'hospitales'" [alt]="hospitalSeleccionado.nombre"
                    class="animated fadeIn fast">
                </div>
            </div>
        </div>
    </div>
</div>